body {
    background-color:lightgray;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    background-color: lightgray;
}

.bgwhite {
    background-color: white;
}

.wrapper {
    padding-top: 30px;
}

p {
    font-size: 14px;
    line-height: 25px;
}

.summarypic {
    float: left;
    width: 260px;
    shape-outside: url(maxtemp.png);
    shape-margin: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}